.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5
}

h2, p {
  margin: 10px;
}





ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4vh
}

ul li a:hover {
  background-color: #D3D796;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;
  margin-top: 5%;


}

.box {
  background-color: #DBBED9;
  width: 25%;
  height: 30%;
  border-radius:25px;
  text-align: center;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  position: relative; 
  overflow: hidden;   
  }

.box:hover{
  transform: scale(1.01);
  box-shadow: 0px 7px 10px #303030;

}

.title{
  font-size: 30px;
  font-family: "Delicious Handrawn", cursive;
  font-weight: 500;
  margin-top: 10px;
}


.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;           
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: zain;
}

.box:hover .overlay {
  opacity: 1;  
}

h1{
  font-size: 5vh;
  font-family: "Titan One", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  color: #8fbbd6;
}

.line{
  border: 1px solid #D3D796;
  margin-top: 5%;
  margin-bottom: 5%;
  width:75%;
  margin-left: 12.5%
}

.line1{
  border: 1px solid #89bcd2;
  margin-top: 5%;
  margin-bottom: 5%;
  width:98%;
  margin-left: 1%;
}


form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #D3D796;  
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b8bc80;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 7.5%;
}


.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
   width: 85%;
   margin-left: 7.5%;
}

li{
  font-family: zain;
}

form{
  background-color: #ffffff;
}

input{
  font-family: zain
}

label{
  font-family: zain
}




.container1 {
  display: flex;      
  gap: 20px;          
  padding: 20px;

  
}

.image-stack {
  width: 50%;         
}

.image-stack img {
  width: 100%;        
  height: auto;     
}

.text {
  width: 50%;         
  font-family: Zain;
  line-height: 1.6;
}

 footer {
   background-color: #e89cb3;
   padding: 10px;
   text-align: center;
   color: white;
 }

.divider {
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 20px 0;
}

.divider span {
  background: #f5f5f5;
  
  padding: 0 10px;
}

.interested{
  color:white;
}

.dropbtn {
  cursor: pointer;
}

#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e89cb3;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;

}

#navbar li {
  position: relative; /
}

#navbar li a,
#navbar .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;     
  text-decoration: none;
  font-size: 4vh;          
  font-family: "Delicious Handrawn", cursive;
}

#navbar li a:hover,
.dropdown:hover .dropbtn {
  background-color: #D3D796;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;              
  left: 0;
  background-color: white;
  min-width: 150px;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 9999;   
  font-family: "Zain", sans-serif;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  color: black;
  font-family: "Delicious Handrawn", cursive;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
} 

.dropdown:hover .dropdown-content {
  display: block;
}

.square{
  font-family: zain;
  font-size: 2vh
}

h2{
  font-family: "Titan One", sans-serif;
  color: #e89cb3;
}

.accordion1 {
  background-color: #DBBED9;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-left: 10%;
  margin-right: 10%;
  border: solid;
  border-color: black;
  border-width: 0.5px;
  font-family: "Titan One", sans-serif;
  color:#000000;
  font-size: 2vh
}

.active, .accordion1:hover {
  background-color: #D3D796; 
}

.panel1 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 78.3%;
  margin-left: 10%;
  font-family: zain;
font-size: 2vh;
}


.line2{
  border: 1px solid #f5f5f5;
  margin-top: 5%;
  margin-bottom: 5%;
  width:98%;
  margin-left: 1%;
}

.line2 a{
  color: #8fbbd6;
  font-family: "Delicious Handrawn", cursive;
  font-size: 3vh;
  margin-left: 9.5%;

}
